VITE_SUPABASE_URL=https://rqegxkimqosvgfkopwca.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxZWd4a2ltcW9zdmdma29wd2NhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwOTI1MzQsImV4cCI6MjEwMzY2ODUzNH0._1027J4A4gdkoRtp9OL1bQa2qtemEBc3U8zfXBr6jB0
